:root {
    --dark: #1a1a1a;
    --dark2: #1f1f1f;
    --accent: #a52020;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: monospace;
}

* {
    color: white;
    color-scheme: dark only;
    transition: all 0.25s ease-in-out;
    accent-color: var(--accent);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


h2 {
    font-size: 2em
}

h3 {
    font-size: 1.5em
}

p {
    font-size: 1.25em
}

#heading {
    margin-right: 50px;
    text-decoration: none;
}

#footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--dark);
    padding: 20px;
    place-items: center;
}


.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    place-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    color: var(--accent)
}

.bar {
    border-bottom: 4px solid var(--accent);
    padding: 15px;
    gap: 0;
    position: sticky;
    top: 0;
    background-color: var(--dark);
    z-index: 10000
}


.back {
    width: 100%;
    place-content: end;
}

.item {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 15px;
    border-radius: 15px;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.item:hover {
    background-color: var(--accent);
}

.splashWrap {
    min-height: calc(100vh - 80px);
}

.splash {
    position: absolute;
    z-index: -10;
    width: 100%;
    max-height: calc(100vh - 80px);
    height: 100%;
    place-content: center;
    text-align: center;
    place-items: center;
    background-image: url("../img/splash/js.png");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.splashText {
    position: relative;
    margin: auto;
    margin-bottom: 0;
    font-size: 4em;

}

.wrapper {
    position: relative;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    place-content: center;
}

.wrapper h3 {
    font-weight: normal;
    font-size: 2em;
    text-align: center;
}

.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--accent);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    animation:
        typing 1.5s steps(120, end),
        blink-caret .75s step-end infinite;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project {
    border-radius: 15px;
    padding: 20px;
    animation: fadein 3s;
    border: 4px solid transparent
}

.project:hover {
    border-color: var(--accent);
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* The typing effect */
@keyframes typing {
    0% {
        width: 0
    }

    100% {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--accent);
    }
}