:root {
    --dark: #0d1117;
    --dark2: #21262d;

}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    font-family: monospace;
    gap: 10px;
    margin: 20px;
    margin-top: 0;
}

* {
    color: white;
    color-scheme: dark only;
    transition: all 0.25s ease-in-out;
    accent-color: var(--accent);
    box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-top: 10px
}

p {
    margin: 0;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.25em;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.fill-width {
    width: 100%;
}

.badge {
    display: flex;
    place-content: center;
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    gap: 5px;
    width: fit-content
}

.badge svg {
    width: auto;
    height: auto;
}

.pfp {
    width: 125px;
    height: 125px;
    margin-right: 10px;
    border-radius: 100%;
}

hr {
    width: 100%;
    border-style: solid;
    border-color: var(--dark2);
    border-width: 1px;
    margin: 0;
}

.small {
    font-size: 1.25em;
}

#top {
    position: sticky;
    top: 0;
    background-color: var(--dark);
    padding-top: 20px
}

.links {
    margin-left: auto;
    font-size: 1.5em;
    font-weight: bold;
    gap: 30px
}

ul {
    font-size: 1.25em;
    margin: 0;
}

a {
    width: fit-content;
}

:link {
    color: #3d3dcf;
}

:visited {
    color: #7523c1
}