#adminBar {
    background-color: var(--accent);
    border-radius: 15px;
    position: sticky;
    top: 100px;
    padding: 5px;
    gap: 5px
}

#postContent {
    width: 100%;
}


#wrapper {
    place-items: start;
}

.tool {
    padding: 10px;
    border-radius: 15px;
    width: calc(100% - 20px);
    place-content: center;
}

.tool img {
    width: 25px;
    height: 25px;
}

.tool h3 {
    width: 100%;
}

.tool:hover {
    background-color: var(--accent2);
    cursor: pointer;
}

#postContent h1 {
    font-size: 2.5em;
}

#postContent h2 {
    margin-top: 75px;
}